dspace.dir=/dspace
db.url=jdbc:postgresql://dspacedb:5432/datasharedb6
dspace.hostname=localhost
dspace.baseUrl=http://localhost:8080
dspace.name=DSpace Started with Docker Compose
solr.server=http://dspace:8080/solr

# Database username and password (set to blank)
db.username = datashar
db.password = datashar